<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="jd.sistemas.android.applinkdispatcher">

	<application>
		<activity
			android:name=".manager.LibraryActivity"
			android:exported="false" />
		<activity
			android:name=".manager.ActivityDispatcherAppLink"
			android:exported="true"
			android:launchMode="singleTask"
			android:noHistory="true"
			android:theme="@android:style/Theme.NoDisplay">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:scheme="https" />
				<data android:scheme="http" />
				<data android:host="jdsistemas.com.br" />
				<data android:host="www.jdsistemas.com.br" />
				<data android:scheme="jd_sistemas" />
			</intent-filter>
		</activity>
	</application>

</manifest>